<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    

        
            <h1><ice:commandLink value="Administration"/></h1>

            <ice:commandLink value="Customers"/><br/>
            <ice:commandLink value="Trips"/><br/>

        


</ui:composition>

