<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ice:form rendered="#{hotelBackingBean.renderHotels}">
        <ice:outputText value="Available hotels for your destination:" />
        <div class="componentBox">
            <ice:panelSeries var="hotelItem" value="#{hotelBackingBean.hotels}">
            <ice:panelGrid columns="2" >
                <ice:column>
                    <h:graphicImage url="#{hotelItem.imgURI}" width="200" />
                </ice:column>
                <ice:column>
                    <ice:outputLabel value="#{hotelItem.name}" /><br />
                    <ice:panelGrid columns="2">
                        <ice:outputText value="Price/double:" />
                        <ice:outputText value="#{hotelItem.doubleroomPrice}" />
                        <ice:outputText value="Price/single:" />
                        <ice:outputText value="#{hotelItem.singleroomPrice}" />
                        <ice:outputText value="Roomtype:"/>
                        <ice:selectOneRadio value="#{hotelBackingBean.roomtype}" >
                            <f:selectItem itemLabel="Double" itemValue="double" />
                            <f:selectItem itemLabel="Single" itemValue="single"/>
                        </ice:selectOneRadio>
                        <ice:outputText value="Description:" />
                        <ice:outputText value="#{hotelItem.description}" />
                    </ice:panelGrid>
                    <ice:commandButton value="Book" actionListener="#{orderControllerBean.selectHotel}">
                        <f:attribute name="Selected hotel" value="#{hotelItem}"/>
                    </ice:commandButton>
                </ice:column>
            </ice:panelGrid>
        </ice:panelSeries>
        </div>
    </ice:form>
</ui:composition>