<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <ice:outputStyle href="./xmlhttp/css/rime/rime.css" />
        <ice:outputStyle href="../css/style.css" />
        <title>#{title}</title>
    </h:head>

    <h:body>
        <ui:include src="customer/registerDialog.xhtml" />
        <ui:include src="customer/orderDialog.xhtml" />
        
        <div id="sidePanel">
            <ui:include src="customer/login.xhtml" />
            <ui:include src="orderPanel.xhtml" />
        </div>

        <div id="top" class="top">
            <h:graphicImage url="img/top.jpg" width="800px"/>
        </div>

        <ui:insert name="content" />

    </h:body>

</html>
