<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>MAJC Travelagency</title>
        <ice:outputStyle href="./xmlhttp/css/rime/rime.css" />
        <ice:outputStyle href="css/style.css" />
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/registerDialog.xhtml" />
        <ui:include src="/WEB-INF/orderDialog.xhtml" />
        <div id="sidePanel">
            <ui:include src="WEB-INF/login.xhtml" />
            <ui:include src="WEB-INF/orderPanel.xhtml" />
        </div>

        <div id="container">
            <h:graphicImage url="img/top.jpg" width="800px"/>
            <ice:outputText value="Select destination and date:" />
            <ui:include src="WEB-INF/flightBooking.xhtml" />
            <ui:include src="WEB-INF/flightTable.xhtml" />
            <ice:outputText value="#{orderingBackingBean.booked}" />
            <br />
            <ui:include src="WEB-INF/hotelBooking.xhtml" />
            <ui:include src="WEB-INF/hotelTable.xhtml" />
        </div>
    </h:body>
</html>

