<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>MAJC Administration</title>
        <ice:outputStyle href="./xmlhttp/css/rime/rime.css" />
        <ice:outputStyle href="css/style.css" />
    </h:head>
    <h:body>
        
        <div id="container">
            <div>
                <h:graphicImage url="img/top.jpg" width="800px"/>
            </div>

            <div id="adminLeftPanel">
                <h:form>
                <ui:include src="/WEB-INF/adminMenu.xhtml"/>
                </h:form>
            </div>

            <div id="content">
                <h:form>
                <ui:include src="/WEB-INF/adminCustomers.xhtml"/>
                </h:form>
            </div>
        </div>
        

    </h:body>
</html>

