<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
        <h:body>
        <ui:composition template="WEB-INF/travelTemplate.xhtml">
            <ui:param name="title" value="MAJC Travelagency - booking failed" />
            <ui:define name="content">
                <div id="container">
                    <h1>Booking failed</h1>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>

</html>

