<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:ice="http://www.icesoft.com/icefaces/component">

    <h:body>
        <ui:composition template="WEB-INF/travelTemplate.xhtml">
            <ui:param name="title" value="MAJC Travelagency" />
            <ui:define name="content">
                <div id="container">
                    <ice:outputText value="Select destination and date:" />
                    <ui:include src="WEB-INF/flightBooking.xhtml" />
                    <ui:include src="WEB-INF/flightTable.xhtml" />
                    <ice:outputText value="#{orderingBackingBean.booked}" />
                    <br />
                    <ui:include src="WEB-INF/hotelTable.xhtml" />
                </div>
            </ui:define>
        </ui:composition>
    </h:body>

</html>
