<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <div class="componentBox">
    <ice:form >
        <ice:outputText value="Choose destination:" />
        <ice:selectOneMenu value="#{orderBackingBean.selectedDestination}">
            <f:selectItems value="#{orderBackingBean.destinations}"/>
        </ice:selectOneMenu>
        <ice:selectInputDate value="#{orderBackingBean.date}" renderAsPopup="true" />
        <ice:commandButton value="Search" actionListener="#{orderControllerBean.showFlights}"/>
    </ice:form>
    </div>
</ui:composition>
