<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">            
        <ice:panelPopup modal="true" autoCentre="true" rendered="#{customerBackingBean.showRegisterDialog}">
            <f:facet name="header">
                <ice:outputText value="Register" />
            </f:facet>
            <f:facet name="body">
                <ui:include src="customerForm.xhtml" />
            </f:facet>          
        </ice:panelPopup>
</ui:composition>
