<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component">
    <ice:form>
        <ice:panelGrid columns="3">
            <ice:outputLabel for="name" value="Name:" />
            <ice:inputText id="name" value="#{customerBackingBean.name}" validator="#{customerBackingBean.validateName}"/>
            <ice:message id="nameError" for="name"/>
            <ice:outputLabel for="password" value="Password:" />
            <ice:inputSecret id="password" value="#{customerBackingBean.password}" redisplay="true" validator="#{customerBackingBean.validatePassword}"/>
            <ice:message id="passwordError" for="password"/>
            <ice:outputLabel for="address" value="Address:" />
            <ice:inputTextarea id="address" value="#{customerBackingBean.address}" validator="#{customerBackingBean.validateAddress}"/>
            <ice:message id="addressError" for="address"/>
            <ice:outputLabel for="email" value="Email:" />
            <ice:inputText id="email" value="#{customerBackingBean.email}" validator="#{customerBackingBean.validateEmail}"/>
            <ice:message id="emailError" for="email"/>     
            <ice:commandButton value="Submit" actionListener="#{customerControllerBean.createCustomer}" />
            <ice:outputText value="#{customerBackingBean.userExists}"/>
        </ice:panelGrid>
    </ice:form>
</ui:composition>