/* 
    Document   : style
    Created on : 2011-okt-13, 15:47:48
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#container{
    width: 800px;
    margin: 0px auto;
}
#top{
    width: 800px;
    margin: 0px auto;
}
.componentBox{
    border: 1px solid #AFAFAF;
    background-color: #f0f5f5;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.sidePanelComponents{
    border: 1px solid #AFAFAF;
    background-color: #f2f7f7;
    font-size: 12px;
    margin: 5px;
    max-width: 200px;
}

#sidePanel{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

img{
    border: 1px solid #AFAFAF;
}

.iceMsgInfo{
    color: red;
    font-weight: bold;
}



#adminLeftPanel{
    position: absolute;
    left: 20px;
    top:180px;
    width: 15%;
    height: 300px;   

    background-color: #f0f5f5;
    
}

#adminContent{
    background-color: #f0f5f5;
    
    height: 600px;
    width: 800px;
    
}

